@charset "utf-8";
/* CSS Document */


.menu-container ul {
	list-style: none;
}
.menu-container ul li {
	height:80px;
	float:left;
	position:relative;
	
}
.menu-container ul li a{
	margin-top:15px;
	margin-bottom:14px;
	padding-left:8px;
	padding-right:8px;
	padding-top:22px;
	padding-bottom:7px;
	font-size:18px;
	text-decoration:none;
	background:#a49191;
	color:#FFF;
	display:block;
	}
.menu-container ul li a:hover{
	height:43px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:37px;
	padding-bottom:0px;
	background:#5a93e9;
	
}

.menu-container ul li ul{
	position:absolute;
	z-index:1000;
	padding-top:5px;
	padding-bottom:10px;
	left:0px;
	background:#594e4e;
	display:none;
	margin-top:-9px;
	}
	
.menu-container ul li ul li{
	margin-top:2px;
	margin-bottom:0px;
	height:28px;
	float:none;
	position:relative;
	min-width:168px;
	width:auto !important;
	}
	
.menu-container ul li ul li a{
	height:23px;
	font-size:14px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:0px;
	background:#5a93e9;
	line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
	display:block;
	}
.menu-container ul li ul li a:hover{
	padding-left:10px;
	padding-top:5px;
	padding-bottom:0px;
	margin-top:2px;
	margin-bottom:0px;
	height:23px;
	
	
	
	}
	
.menu-container ul li:hover ul{
	display:block;
	}
